.container {
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}
.menu {
    display: flex;
}
.menu li {
    margin: 10px 20px;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.body {
    display: flex;
    margin-top: 100px;
}