body {
	padding: 0;
    margin: 0;
}

.subheader-container
{
    padding: 0 120px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #4c45cf;
}

.subheader-item
{
    color: white;
    font-size: 20px;
}
/* main */
.main
{
  padding: 60px 120px 0 120px;
}
.patient-title
{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
.patient-col
{
    width: 500px; 
    height: 350px;
}
.patient-row {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.patient-row > label {
    font-size: 20px;
    font-weight: bold;
    width: 170px;
}
.patient-row > input {
    height: 30px;
    width: 300px;
    border: 1px solid #9ad1d4;
  padding: 0;
}
.patient-row > textarea
{
    border: 1px solid #9ad1d4;
    height: 90px;
    width: 300px;
  padding: 0;
  resize: none;
}